﻿<!DOCTYPE html>
<html>
	<head>
		<title>Service @Model.Name</title>
	</head>
	<body>
		<h1>Service @Model.Name</h1>
        <h3>Installed version: @Model.CurrentVersion</h3>
        <a href="@Model.Parent.Url">Services</a>
	</body>
</html>