﻿<!DOCTYPE html>
<html>
	<head>
		<title>Deployment @Model.Id</title>
	</head>
	<body>
        
		<h1>Deployment @Model.Id</h1>
        <h2>@Model.Service/@Model.Component v.@Model.Version</h2>

        <a href="@Model.Status.Url">Status</a>
        <a href="@Model.Parent.Url">Node</a>
	</body>
</html>