﻿<!DOCTYPE html>
<html>
	<head>
		<title>Event Store @Model.Name</title>
	</head>
	<body>
        
		<h1>Event Store @Model.Name</h1>

	    <div>Address: @Model.Address:@Model.TcpPort</div>
	    <a href="@Model.Manage.Url">Manage</a>
	    <h2>Databases</h2>
	    <ul>
	        @foreach (var db in Model.Databases)
            {
                <li>
                    <a href="@db.Events.Url">@db.Name</a>
                </li>
            } 
	    </ul>
	</body>
</html>