﻿<!DOCTYPE html>
<html>
	<head>
		<title>View Stores</title>
	</head>
	<body>
		<h1>View Stores</h1>
        <ul>
            @foreach (var store in Model.Stores)
            {
                <li>
                    <a href="@store.Details.Url">@store.Name</a>
                </li>
            }            
        </ul>
        <a href="@Model.Parent.Url">Environment</a>
	</body>
</html>