﻿<!DOCTYPE html>
<html>
	<head>
		<title>Deployment @Model.Id</title>
	</head>
	<body>
        
		<h1>Deployment @Model.Id</h1>
        <h2>@Model.Service/@Model.Component v.@Model.Version</h2>

        <a href="@Model.Status.Url">Status</a>
        <form method="post" style="display: inline" action="@Model.Start.Url?verb=@Model.Start.Verb">
            <input type="submit" value="Start" />
        </form>
        <form method="post" style="display: inline" action="@Model.Stop.Url?verb=@Model.Stop.Verb">
            <input type="submit" value="Stop" />
        </form>
        <form method="post" style="display: inline" action="@Model.Undeploy.Url?verb=@Model.Undeploy.Verb">
            <input type="submit" value="Undeploy" />
        </form>
        <a href="@Model.Parent.Url">Node</a>
	</body>
</html>