﻿<!DOCTYPE html>
<html>
	<head>
		<title>Host instance</title>
	</head>
	<body>
		<h1>State: @Model.State</h1>
        <a href="@Model.Deployment.Url">Deployment</a>
        @if (@Model.Start != null)
        {
        <form method="post" style="display: inline" action="@Model.Start.Url?verb=@Model.Start.Verb">
            <input type="submit" value="Start" />
        </form>
        }
        @if (@Model.Stop != null)
        {
        <form method="post" style="display: inline" action="@Model.Stop.Url?verb=@Model.Stop.Verb">
            <input type="submit" value="Stop" />
        </form>
        }
        <a href="@Model.Manage.Url" target="_blank">Manage</a>
	</body>
</html>